.copyright {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.copyright__year {
    color: rgba($text-color-light, 0.1);
    font-size: 48px;
    font-weight: 600;
    line-height: 1;
    margin-right: 50px;
}

.copyright__name {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.copyright__desc {
    color: rgba($text-color-light, 0.15);
}

