.decoration {
    height: 80px;
    position: relative;
}
.decoration__item {
    display: block;
    width: 50%;
    position: absolute;
    height: 100%;
    fill: #fff;

    &--left {
        left: 0;
    }

    &--right {
        right: 0;
    }
}