.hero {
  padding-top: 50px;
  padding-bottom: 50px;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.hero__content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__scroll-down {
  display: flex;
  align-items: center;
  justify-content: center;
}

