.main-info {
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.main-info__desc {
  color: rgba($text-color, 0.4);
  font-size: 18px;
  font-weight: 600;
}

.main-info__owner {
  font-size: 72px;
  font-weight: 800;
  line-height: 1;
}
