.reviews__container {
    padding-bottom: 200px;
}
.reviews__top {
    padding-top: 10%;
    margin-bottom: 90px;
    display: flex;
    align-items: center;
}

.reviews__title {
    margin-right: 100px;
}

.reviews__controls {
    display: flex;
    align-items: center;
}

.reviews__carousel {
    width: 67%;
}