.social__list {
  display: flex;
  align-items: center;
}

.social__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
  &:last-of-type {
    margin-right: 0;
  }
}

.social__link {
  display: flex;
}

.social__icon {
  fill: $text-color;
  width: 25px;
  height: 25px;
}
