.tags {
    margin-right: -7px;
    margin-left: -7px;
}
.tags__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.tags__item {
    border-radius: 23px;
    background-color: rgba(#7aa0c5, 0.1);
    color: rgba($text-color, 0.7);
    font-size: 15px;
    font-weight: 600;
    padding: 15px 20px;
    margin: 0 7px 10px;
}