.about__add {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 250px;

    @include phones{
        position: relative;
        margin-left: 0;
        margin-bottom: 40px;
    }
}
.about__btn::before {
        margin-right: 10px;
}
.about__card {
    min-height: 415px;
}
.about__card-title {
    width: 60%;
}