.about__add {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 250px;

    @include phones{
        position: relative;
        margin-left: 0;
    }
}
.about__btn::before {
        margin-right: 10px;
}