.admin {
    background: url('/src/images/content/hero_bg.jpg') center top/cover no-repeat;
}

.admin__content {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    background-color: rgba($text-color-light, 0.9);
}