.icon__pencil {
    width: 16px;
    height: 15px;
}

.icon__trash {
    width: 13px;
    height: 15px;
}

.icon__confirm {
    width: 15px;
    height: 15px;
}

.icon__delete {
    width: 14px;
    height: 12px;
}