.icon__pencil {
    width: 16px;
    height: 15px;
    flex-shrink: 0;
}

.icon__trash {
    width: 13px;
    height: 15px;
    flex-shrink: 0;
}

.icon__confirm {
    width: 15px;
    height: 15px;
    flex-shrink: 0;
}

.icon__delete {
    width: 14px;
    height: 12px;
    flex-shrink: 0;
}