.page {
    padding: 60px 0 40px;
    background: linear-gradient(rgba($text-color-light, 0.95), rgba($text-color-light, 0.95)),
    url('/src/images/content/hero_bg.jpg') center/cover no-repeat;
    height: 100%;
}

.page__container {
    position: relative;
}

.page__title {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 60px              ;
}