mixin nav(className, arr)
    nav(class=`menu ${className}__menu menu--${className}`)
        ul(class=`menu__list`)
            each item in arr
                li(class=`menu__item`)
                    a(href=item.link class=`menu__link`)=item.title