.copyright
    .copyright__year ©&nbsp;2019
    .copyright__text
        .copyright__name
            |Валерия
            br
            |Смирнова
        .copyright__desc Личный сайт веб-разработчика