.copyright
    .copyright__year ©&nbsp;2019
    .copyright__text
        .copyright__name
            |Владимир
            br
            |Астахов
        .copyright__desc Личный сайт веб-разработчика