.hero__content.main-info
    .main-info__desc.hero__main-info-desc
        |Личный сайт
        br
        |веб разработчика
    h1.main-info__owner.hero__main-info-owner
        |Владимир
        br
        |Астаханов