section.work.section#work
    .container.work__container
        h2.title.work__title Мои работы
        .work__content
            .work__left
                .work__index
                    .index 4
                +gallery-slider('work__slider', workSlider, 62, 0)
            .work__right
                .work__describe
                    +tag('work__skills', ['HTML', 'CSS', 'Javascript'])
                    .work__title.subtitle Сайт школы образования
                    .work__desc
                        p Эта девушка проходила обучение веб-разработке не где-то, а в
                            | LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                    .work__link
                        +icon('link', 'work__link-icon')
                        a.work__ref(href="#") Посмотреть сайт