mixin hamburger(className)
    button.hamburger(class=className type="button")
        span.hamburger__line.hamburger__line-top
        span.hamburger__line.hamburger__line-middle
        span.hamburger__line.hamburger__line-bottom