-
    var menu = [
        {
            title: "Главная",
            link: "#hero"
        },
        {
            title: "Обо мне",
            link: "#about"
        },
        {
            title: "Навыки",
            link: "#experience"
        },
        {
            title: "Работы",
            link: "#work"
        },
        {
            title: "Отзывы",
            link: "#reviews"
        },
        {
            title: "Связаться",
            link: "#contacts"
        }
    ]

-
    var socials = [
        {
            title: "insta",
            link: "#"
        },
        {
            title: "vk",
            link: "#"
        },
        {
            title: "github",
            link: "#"
        }
    ]

-
    var skills = [
        [
            'Front-end',
            [
                {
                    title: "HTML5",
                    progress: 230
                },
                {
                    title: "CSS3",
                    progress: 230
                },
                {
                    title: "Javascript",
                    progress: 260
                },
                {
                    title: "Jquery и Vue.js",
                    progress: 260
                }
            ]
        ],
        [
            'Workflow',
            [
                {
                    title: "GIT",
                    progress: 220
                },
                {
                    title: "Terminal",
                    progress: 220
                },
                {
                    title: "Gulp",
                    progress: 260
                },
                {
                    title: "Webpack",
                    progress: 270
                }
            ]
        ]
    ]

-
    var workSlider = [
        {
            path: 'preview/1.jpg',
            link: '#',
            skills: [],
            title: '',
            text: ''
        },
        {
            path: 'preview/2.jpg',
            link: '#',
            skills: [],
            title: '',
            text: ''
        },
        {
            path: 'preview/3.jpg',
            link: '#',
            skills: [],
            title: '',
            text: ''
        },
        {
            path: 'preview/4.jpg',
            link: '#',
            skills: [],
            title: '',
            text: ''
        },
        {
            path: 'preview/5.jpg',
            link: '#',
            skills: [],
            title: '',
            text: ''
        }
    ]

-
    var reviewsSlider = [
        {
            name: "Ковальчук Дмитрий",
            occupation: "Основатель Loftschool",
            quote: `Эта девушка проходила обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!`,
            photo: "kovalchuk.jpg"
        },
        {
            name: "Владимир Сабанцев",
            occupation: "Преподаватель",
            quote: "Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах",
            photo: "sabancev.jpg"
        }
    ]

include ./mixins.pug

include ./components/nav
include ./components/socials
include ./components/progress
include ./components/decoration
include ./components/gallery-slider
include ./components/tags
include ./components/controls
include ./components/carousel
include ./components/form
include ./components/scroll-down


<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Portfolio | main page
        link(rel="shortcut icon" href=require(`images/favicon.png`))
    body
        .wrapper
            .maincontent
                .welcome-section(
                style=`background-image: url('${require('./images/content/hero_bg.jpg')}')`)
                    section.hero.fullscreen-section.section#hero
                        .container.hero__container
                            header.hero__header.header
                                .container.header__container
                                    div(class=`header__logo`)
                                        .logo
                                            a.logo__link(href="#") SmV
                                    +nav(`header`, menu)
                                    +socials(`header`, socials)
                            .hero__content
                                include ./sections/main-info
                            .hero__scroll-down
                                +scroll-down('about')
                    include ./sections/about
                include ./sections/experience
                include ./sections/work
                .contacts-section(
                style=`background-image: url('${require('./images/content/budda.jpg')}')`)
                    section.reviews.section#reviews
                        +decoration('top')
                        .container.reviews__container
                            .reviews__top
                                h2.title.reviews__title Что обо мне говорят
                                +controls('reviews__controls round horizontal')
                            +carousel('reviews__carousel', reviewsSlider)
                    section.contacts.section#contacts
                        .container.contacts__container
                            h2.title.contacts__title Связаться со мной
                            +form('contacts__form form')
                include ./sections/footer


